@model BookStore.Models.Book.OverviewBooksViewModel
@{
    ViewBag.SubTitle = "Books";
    ViewData["Title"] = "Catalog";
}
<h4>@ViewBag.SubTitle</h4>

<form asp-controller="Book" asp-action="Index" method="get">
    <div class="row">
        <div class="form-group col">
            <label for="searchTerm">Search: </label>
            <input id="searchTerm" asp-for="Search" class="form-control" />
        </div>
        <div class="form-group col">
            <label for="category">Genre: </label>
            <select class="form-select" aria-label="Default select example" asp-for="GenreId">
                <option value="0">All</option>
                @if (Model.AllGenres != null)
                {
                    @foreach (BookStore.Data.Genre genre in Model.AllGenres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="ByTitle">
                <label class="form-check-label" for="inlineCheckbox1">By Title</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="ByAuthor">
                <label class="form-check-label" for="inlineCheckbox2">By Author</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="ByIsbn">
                <label class="form-check-label" for="inlineCheckbox3">By ISBN</label>
            </div>
        </div>
        <div class="form-group col">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@await Html.PartialAsync("_BookList", Model.AllBooks)