@model BookStore.Models.Author.EditAuthorViewModel
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Author" asp-action="EditAuthor">
    <input type="hidden" asp-for="EditAuthor.Id" /> @*zodat id wordt opgeslagen*@
    <div class="form-group">
        <label asp-for="EditAuthor.FirstName" class="control-label"></label>
        <input asp-for="EditAuthor.FirstName" class="form-control" value="@Model.EditAuthor.FirstName" />
        <span asp-validation-for="EditAuthor.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditAuthor.LastName" class="control-label"></label>
        <input asp-for="EditAuthor.LastName" class="form-control" value="@Model.EditAuthor.LastName" />
        <span asp-validation-for="EditAuthor.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditAuthor.BirthDate" class="control-label"></label>
        <input asp-for="EditAuthor.BirthDate" class="form-control" asp-format="{0:dd-MM-yyyy}" value="@Model.EditAuthor.BirthDate.ToString("yyyy-MM-dd") />
        <span asp-validation-for="EditAuthor.BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
